@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(30deg, rgb(0, 0, 0) 0%, rgb(75, 16, 101) 100%);
}

body h2 {
  color: #ffffff;
}

main {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  display: flex;
  align-items:center;
  justify-content:center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 100%;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(75, 16, 101);
  color: rgb(255, 255, 255);
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}